body {
  // background-color: #A9B7C0;
  background: url("../images/main-background.jpg") #A9B7C0 no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right;
}

#main .mdl-layout__header,
#main .mdl-layout__drawer-button {
  color: #fff;
}


//#A9B7C0 Gre Blue
//#C7D8C6 Minty
//#EFD9C1 Light
//#CCCBC6 Powder