
body {
  background-color: #E3EAED;
}


.section-header {

  text-transform: uppercase;
  margin-bottom: 10%;

  hr {
    width: 30%;
  }
}

section {
  padding: 10% 0%;;
}

.banner {
  padding: 10% 0;
  background-color: #24464C;
  color: #E3EAED;

  h1, h6 {
    font-weight: 900;
    text-transform: uppercase;
  }
}

.about {
  background-color: #E3EAED;
  color: #24464C;

  .story p {
    padding: 0% 5%;
  }

  .card.col.m12 {
    padding: 0;
    margin: 0;
    background-color: #669BA3;

    .card-content {
      padding: 5px 20px 0;
      
      i {
        font-size: 2em;
        margin: 0;
      }
    }

    .card-reveal {

      opacity: 0.9;

      .card-title.grey-text.text-darken-4 {
        margin-bottom: 15%;
      }

      .link-icons {
        margin: 5% 0%;
        font-size: 1.5em;
      
        a {
          color: #24464C;
        }

      }
    }
  }

  h6 {
    font-size: 1.5em;
    margin: 0;
    color: #669BA3;
  }

}

.portfolio {

  background-color: #669BA3;
  color: #E3EAED;
  
  .section-header {
    color: #E3EAED;
  }

  .modal-content {
    color: #24464C;
  }

  .modal.bottom-sheet {
    max-height: 60%;
  }

}

.contact {

  background-color: #E3EAED;
}
