
body {
  background-color: #E3EAED;
}

.banner {
  padding: 13% 0;
  margin-bottom: 50px;
  background-color: #24464C;
  color: #E3EAED;

  h1 {
    font-weight: 900;
    text-transform: uppercase;
  }
}

.about {
  background-color: #E3EAED;
  color: #24464C;

  hr {
    width: 30%;
    margin-bottom: 25px;
  }
  
  h5 {
    text-transform: uppercase;
  }

  p {
    margin: 0;
  }
}
