
body {
  background: url("../assets/main-background.jpg") #A9B7C0 no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right;
}

/******************************* NAVIGATION *******************************/
$dark-color: #212121;
$active-color: #ff4081;
$red: red;

#main {

		list-style-type: none;
	ul {
		list-style-type: none;
	}

	#home-container, #photos-container, #album-container {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}

	.mdl-layout__header {
		background: url('../assets/transparent.svg') center / cover;
	}

	.mdl-layout__header-row {
  	width: 80%;
  	margin: 5% auto 0;
		padding: 0;
	}

	.mdl-layout-title a {
		padding: 0;
	}

}

#logo {
	width: 40px;
	height: 40px;
}

nav {
	a {
	  position: relative;
	}
	a:before {
	  content: "";
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  bottom: 0;
	  left: 0;
	  background-color: $active-color;
	  visibility: hidden;
	  -webkit-transform: scaleX(0);
	  transform: scaleX(0);
	  -webkit-transition: all 0.3s ease-in-out 0s;
	  transition: all 0.3s ease-in-out 0s;
	}
	a:hover:before {
	  visibility: visible;
	  -webkit-transform: scaleX(1);
	  transform: scaleX(1);
	}
}

.mdl-layout__header-row nav a.mdl-navigation__link {
	padding: 0;
	margin: 0 24px;
	color: $dark-color;
}

.mdl-layout__header-row nav a.mdl-navigation__link:last-child {
	margin-right: 0;
}

.mdl-layout__header-row nav a.mdl-navigation__link.is-active {
	color: $active-color;
}



//#A9B7C0 Gre Blue
//#C7D8C6 Minty
//#EFD9C1 Light
//#CCCBC6 Powder